.rich-editor {
  border: solid 1px var(--artibox-primary);
  padding: 40px;
  width: 100%;
  height: 800px;
  box-sizing: border-box;

  blockquote {
    padding-left: 10px;
    margin-left: 0px;
    border-left: 3px solid var(--artibox-primary);
  }
}
