$rich-editor-locale-primary: rgb(28, 193, 208);

.rich-editor {
  background-color: #f5f5f5;
  border: solid 1px #e0e0e0;
  margin-bottom: 100px;
  padding: 40px 80px;
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;

  &__locale {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;

    &__button {
      min-width: 60px;
      height: 30px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      background: #fff;
      border-radius: 45%;
      border: 1px solid $rich-editor-locale-primary;
      padding: 0 15px;
      outline: none;
      user-select: none;
      cursor: pointer;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &--active {
        background: $rich-editor-locale-primary;
      }
    }
  }

  blockquote {
    padding-left: 10px;
    margin-left: 0;
    border-left: 3px solid var(--artibox-primary);
  }

  mark {
    background-color: var(--artibox-primary);
  }
}
