@import '../utils/map-get-deep';
@import '../utils/custom-palette-register';

@mixin artibox-toolbar-theme($palette) {
  @include custom-palette-register(
    $palette,
    toolbar,
    (
      background: map-get-deep($palette, neutral, 9),
      border: map-get-deep($palette, neutral, 7),
      divider: map-get-deep($palette, neutral, 6),
      icon: map-get-deep($palette, neutral, 4),
      icon-active: map-get-deep($palette, primary, default),
      input: map-get-deep($palette, neutral, 5)
    )
  );
}
