.demo-jsx-serializer {
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__section {
    flex: 1 1 calc(50% - 25px);
    border: 1px solid black;
    min-height: 800px;
    overflow: hidden;
    overflow-wrap: break-word;

    &:first-child {
      margin-right: 50px;
    }
  }
}
