@import './map-get-deep';

@mixin custom-palette-register($palette, $name, $origin) {
  $merged: $origin;
  $custom: map-get($palette, $name);

  @if $custom != null {
    $merged: map-merge($origin, $custom);
  }

  @each $key, $value in $merged {
    --artibox-#{$name}-#{$key}: #{$value};
  }
}
