$artibox-toolbar-popup-gap: 10px;
$artibox-toolbar-arrow-size: $artibox-toolbar-popup-gap;
$artibox-toolbar-height: 40px;
$artibox-toolbar-padding-vertical: 8px;
$artibox-toolbar-padding-horizontal: 10px;
$artibox-toolbar-input-cross-size: 14px;

.artibox-toolbar {
  display: flex;
  align-items: center;
  height: $artibox-toolbar-height;
  padding: $artibox-toolbar-padding-vertical $artibox-toolbar-padding-horizontal;
  background-color: var(--artibox-surface);
  border: 1px solid var(--artibox-border);
  border-radius: 4px;
  box-sizing: border-box;

  &__wrapper {
    position: absolute;
    z-index: 1;
    padding-bottom: $artibox-toolbar-popup-gap;
    height: $artibox-toolbar-height;
    box-sizing: content-box;
  }

  &__arrow {
    position: absolute;
    top: calc(100% - #{$artibox-toolbar-popup-gap});
    left: 50%;
    content: '';
    width: $artibox-toolbar-arrow-size;
    height: $artibox-toolbar-arrow-size;
    background: var(--artibox-surface);
    border: 1px solid var(--artibox-border);
    border-top: none;
    border-left: none;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &__divider {
    width: 1px;
    height: 20px;
    background-color: var(--artibox-divider);
    margin: 0 8px;
  }

  &__icon {
    position: relative;
    color: var(--artibox-icon);
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 9px;
    border: 0;
    background-color: transparent;
    padding: 0;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    transition: color 0.2s ease-out;
    cursor: pointer;

    &:hover,
    &--active {
      color: var(--artibox-primary);
    }
  }

  &__input {
    font-size: 13px;
    background: var(--artibox-surface);
    color: var(--artibox-placeholder);
    width: calc(100% - #{$artibox-toolbar-input-cross-size});
    height: 100%;
    border: none;
    padding: 0;
    outline: none;

    &__wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      top: $artibox-toolbar-padding-vertical;
      left: $artibox-toolbar-padding-horizontal;
      width: calc(100% - #{$artibox-toolbar-padding-horizontal * 2});
      height: calc(100% - #{$artibox-toolbar-padding-vertical * 2 + $artibox-toolbar-popup-gap});
      background: var(--artibox-surface);
      box-sizing: border-box;
    }

    &__cross {
      fill: var(--artibox-placeholder);
      font-size: $artibox-toolbar-input-cross-size;
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
  }
}
