.artibox-theme-default {
  --artibox-primary: rgb(171, 220, 220);
  --artibox-toolbar-icon-color: rgb(219, 219, 219);
  --artibox-toolbar-icon-background: rgb(255, 255, 255);
  --artibox-toolbar-icon-hover: rgb(74, 74, 74);
}
