$artibox-palette-artibox-dark: (
  primary: (
    default: #1cc1d0
  ),
  neutral: (
    9: #000,
    8: #252525,
    7: #4a4a4a,
    6: #636363,
    5: #7d7d7d,
    4: #a8a8a8,
    3: #c1c1c1,
    2: #dbdbdb,
    1: #e0e0e0,
    0: #fff
  )
);
