$artibox-palette-artibox-dark: (
  primary-light: #c1eef2,
  primary: #1cc1d0,
  primary-dark: #16aab8,
  background: #212121,
  surface: #000,
  text: #fff,
  border: #4a4a4a,
  divider: #636363,
  placeholder: #7d7d7d,
  icon: #9e9e9e
);
