$artibox-default-palette: (
  primary: (
    default: #1cc1d0
  ),
  neutral: (
    0: #000,
    1: #252525,
    2: #4a4a4a,
    3: #636363,
    4: #7d7d7d,
    5: #a8a8a8,
    6: #c1c1c1,
    7: #dbdbdb,
    8: #e0e0e0,
    9: #fff
  )
);
