$artibox-image-resizer-size: 6px;

.artibox-slate-image {
  position: relative;
  user-select: none;

  img {
    display: block;
    width: 100%;
    user-select: none;
  }

  &__boundary,
  &__resizer {
    position: absolute;
    border: 2px solid var(--artibox-primary);
    right: 0;
    bottom: 0;
  }

  &__boundary {
    top: 0;
    left: 0;
  }

  &__resizer {
    width: $artibox-image-resizer-size;
    height: $artibox-image-resizer-size;
    background: var(--artibox-surface);
    transform: translate3d(50%, 50%, 0);
    cursor: nwse-resize;
  }

  &__caption {
    margin-top: 6px;

    &-placeholder {
      color: var(--artibox-placeholder);
    }

    &--empty {
      .artibox-slate-image__figure--blurred & {
        opacity: 0;
        user-select: none;
      }
    }
  }
}
