.artibox-stories-elements {
  mark {
    color: var(--artibox-primary);
    background-color: inherit;
    transition: color 300ms ease-in-out;
  }

  a {
    color: var(--artibox-text);
    transition: color 300ms ease-in-out;
  }

  p,
  h1,
  h2,
  h3 {
    margin: 0;
  }

  .artibox-slate-image__figure,
  figure {
    margin: 56px 0;
  }

  &__blockquote {
    margin: 56px 0;
    padding: 36px 40px;
    background-color: var(--artibox-border);
    transition: background-color 300ms ease-in-out;

    &__line {
      width: 20px;
      height: 2px;
      background-color: var(--artibox-primary);
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 30px;
    }
  }

  > p {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 1px;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  h1 {
    margin-bottom: 28px;

    &:not(:first-child) {
      margin-top: 112px;
    }
  }

  h2 {
    margin-bottom: 8px;
  }
}

.artibox-editor-story {
  margin-bottom: 100px;
  padding: 40px 80px;
  width: 100%;
  min-height: 800px;
  box-sizing: border-box;

  &__toggle-buttons {
    display: inline-flex;
    align-items: center;

    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }

  &__toggle-button {
    min-width: 60px;
    height: 30px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    background: white;
    border-radius: 45%;
    border: 1px solid var(--artibox-primary);
    padding: 0 15px;
    outline: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    will-change: background-color, border-color, color;
    user-select: none;
    cursor: pointer;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &--active {
      color: white;
      background: var(--artibox-primary);
    }
  }

  &__settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;
  }
}

.jsx-serializer-story {
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__section {
    flex: 1 1 calc(50% - 25px);
    border: 1px solid black;
    min-height: 800px;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: var(--artibox-background);

    &:first-child {
      margin-right: 50px;
    }
  }
}
