.artibox-editable {
  background-color: var(--artibox-background);
  border: solid 1px var(--artibox-border);
  color: var(--artibox-text);
  caret-color: var(--artibox-primary);
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out, color 300ms ease-in-out;
  will-change: background-color, border-color, color;

  ::selection {
    background-color: var(--artibox-primary-light);
  }

  &__placeholder {
    display: inline-block;
    top: 0;
    left: 0;
    color: var(--artibox-placeholder);
    font: inherit;
    padding: inherit;
    width: 0;
    max-width: 100%;
    opacity: 0.333;
    white-space: nowrap;
    text-decoration: none;
    pointer-events: none;
    user-select: none;
  }
}
